# Misc
__pycache__/
.DS_Store
venv/
pyrightconfig.json

# Secrets
secrets/*
!secrets/
!secrets/.gitkeep

# Data
data/transactions/*
data/proofs/*
data/validated/*

!data/transactions/.gitkeep
!data/proofs/.gitkeep
!data/validated/.gitkeep
