__pycache__/
.DS_Store

# Secrets
secrets/*
!secrets/
!secrets/.gitkeep

# Data
data/bank_statement/*
data/receipts/*

!data/bank_statement/.gitkeep
!data/receipts/.gitkeep

# Virtual environment
venv/
