numpy==2.2.6
pandas==2.3.1
fuzzywuzzy==0.18.0
pyhocon==0.3.61
openai==1.99.6
pytest==8.4.1
gradio==5.41.1
faker==37.5.3
python-Levenshtein==0.27.1
opencv-python==4.12.0.88
langchain==0.3.27
langgraph==0.6.4
langchain-openai==0.3.29
langchain-community==0.3.27
pypdf==5.9.0
pytesseract==0.3.13
pdf2image==1.17.0
sqlalchemy==2.0.42
psycopg2-binary==2.9.10
