numpy==2.2.6
pandas==2.3.1
fuzzywuzzy==0.18.0
pyhocon==0.3.61
flask==3.0.3
langchain-google-genai==4.2.2
google-genai==1.65.0
pypdf==5.9.0
pillow==11.3.0
requests==2.32.4
sqlalchemy==2.0.42
gunicorn==23.0.0
psycopg[binary]==3.2.9
